<h1>Show Title</h1>
<%= link_to "Edit", edit_article_path(@article) %>
<table>
  <tr>
    <td>title:</td>
    <td><%= @article.title%></td>
  </tr>
  <tr>
    <td>text:</td>
    <td><%= @article.text%></td>
  </tr>
</table>
<% @article.comments.each do |comment|%>
  comment:<%= comment.body %></br>
<% end %>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <table>
    <tr>
      <td>title:</td>
      <td><%= f.text_field :commenter%></td>
    </tr>
    <tr>
      <td>body:</td>
      <td><%= f.text_area :body%></td>
    </tr>
  </table>
  <%= f.submit "add"%>
<% end %>
