<%= form_for @boy do |f|%>
<table>
  <tr>
    <td><%= f.label :name%></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :number%></td>
    <td><%= f.number_field :number%></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
</table>
<% end %>
<%= link_to "Back", boys_path %>
