<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @boys.each do |boy|%>
      <tr>
        <td><%= boy.name%></td>
        <td><%= boy.number%></td>
        <td><%= link_to "Show", boy %></td>
        <td><%= link_to "Edit", edit_boy_path(boy) %></td>
        <td><%= link_to "Delete", boy, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "new", new_boy_path %>

